<?xml version="1.0"?>
<config>
    <modules>
        <Crazymindz_Advsearch>
            <version>1.0.0</version>
        </Crazymindz_Advsearch>
    </modules>
    <global>
        <models>
            <advsearch>
                <class>Crazymindz_Advsearch_Model</class>
            </advsearch>
        </models>
        <helpers>
            <advsearch>
                <class>Crazymindz_Advsearch_Helper</class>
            </advsearch>
        </helpers>
        <blocks>
            <advsearch><class>Crazymindz_Advsearch_Block</class></advsearch>
        </blocks>
    </global>
    <frontend>
        <routers>
            <advsearch>
                <use>standard</use>
                <args>
                    <module>Crazymindz_Advsearch</module>
                    <frontName>advsearch</frontName>
                </args>
            </advsearch>
        </routers>
        <layout>
            <updates>
                <advsearch>
                    <file>advsearch.xml</file>
                </advsearch>
            </updates>
        </layout>
    </frontend>
</config>
